@media (max-width:768px) {
	body{
		background-color: white!important;
	}
	.row{
		margin:0;
		padding:0;
	}

	.container{
		padding: 0!important;
	}
	.footer-login {
		width: 90%!important;
	}
	.footer-btn div{
		padding: 0!important;
	}
}