@media (max-width:768px) {
	body{
		background-color: white!important;
	}
	.row{
		margin:0;
		padding:0;
	}

	.container{
		padding: 0!important;
	}
	.footer-login {
		width: 90%!important;
	}
	.footer-btn div{
		padding: 0!important;
	}

	#bar-top {
		display: block!important;
		height: 35px;
		margin-top: 10px;
	}
	#bar-top img {
		width: 32px;
		margin-left: 5px
	}
	#bar-top .line-divider {
		background-color: #c4c4c3;
		height: 1px;
		margin-top: 10px;
	}
}