.checkbox {
	text-align: center;
}

.btn-green {
	background-color: #0E481E!important;
    color: #FFFFFF !important;
    box-shadow: 0px 5px 4px #B2B2B2 !important;
}

.btn-green:hover {
	background-color: #0E481E !important;
	box-shadow: 0 14px 26px -12px rgba(76, 175, 80, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 175, 80, 0.2);
}

.btn-green:active{
	background-color: #0E481E !important;
	box-shadow: 0 14px 26px -12px rgba(76, 175, 80, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 175, 80, 0.2);
}

.btn-green:focus{
	background-color: #0E481E !important;
	box-shadow: 0 14px 26px -12px rgba(76, 175, 80, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 175, 80, 0.2);
}

.btn-white:hover {
	background-color: #fff !important;
}


.input-center{
	text-align: center;
}

.input-full {
	display:block;
}

.initial-logo {
	
}

.initial-logo img {

}

.btn-responsive {
    font-size: 3vw;
}

.footer-login {
	margin-top: 5%;
	width: 70%;
	margin: 0 auto;
}

.footer-login button.btn-login {
	width: 100%;
}
.footer-btn button {
	padding : 5px !important;
}


.login-facebook {
	cursor:pointer;
	margin: auto;
    margin-bottom: 10px;
}


#logo{
	width: 250px;
	height: 250px;
	margin: 0 auto;
	margin-bottom: 40px;
}

#content-login{
	margin-top: 6%;
}
#content-login .row >div{
	margin: auto;
	padding-right: 2px;
	padding-left: 2px;
}

#content-sign-up h4 {
	color: #c4c4c3;
	padding: 30px;
	text-align: center;
}

#content-sign-up .btn-sign-up {
	margin-top: 60px;
	width: 100%;
}

#content-sign-up input {
	margin-top: 10px;
}

#content-sign-up  .check-with-text {
	width: 100%;
	margin-top: 15px;
	text-align: center;
}
#bar-top {
	display: none;
}

#content-be-waasher h5 {
	color: #c4c4c3;
	padding: 30px;
	font-size: 18px;
	text-align: center;
}

#content-be-waasher .btn-be-waasher {
	margin-top: 40px;
	width: 100%;
}

#content-be-waasher input {
	margin-top: 0.5%;
}

#content-be-waasher .check-with-text {
	width: 100%;
	margin-top: 15px;
	text-align: center;
}
#content-be-waasher .row >div{
	margin: auto;
}

.row{
	margin-left: 0px!important;
    margin-right: 0px !important;
    display: flex!important;
}

#be-waasher-form{
	margin: 0 auto;	
}
#be-waasher-form .form-group{
	margin: 0 auto;
}
#be-waasher-form .sample{
	margin-bottom: 2%;
}


#login-form{
	margin: 0 auto;
}
.checkbox {
	text-align: center;
}

.btn-green {
	background-color: #0E481E;
    color: #FFFFFF !important;
    box-shadow: 0px 5px 4px #B2B2B2 !important;
}

.btn-green:hover {
	background-color: #0E481E !important;
	box-shadow: 0 14px 26px -12px rgba(76, 175, 80, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 175, 80, 0.2);
}

.btn-green:active{
	background-color: #0E481E !important;
	box-shadow: 0 14px 26px -12px rgba(76, 175, 80, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 175, 80, 0.2);
}

.btn-green:focus{
	background-color: #0E481E !important;
	box-shadow: 0 14px 26px -12px rgba(76, 175, 80, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 175, 80, 0.2);
}

.btn-white:hover {
	background-color: #fff !important;
}


.input-center{
	text-align: center;
}

.input-full {
	display:block;
}

.initial-logo {
	
}

.initial-logo img {

}

.btn-responsive {
    font-size: 3vw;
}

.footer-login {
	margin-top: 5%;
	width: 70%;
	margin: 0 auto;
}

.footer-login button.btn-login {
	width: 100%;
}
.footer-btn button {
	padding : 5px !important;
}


.login-facebook {
	cursor:pointer;
	margin: auto;
    margin-bottom: 10px;
}


#logo{
	width: 250px;
	height: 250px;
	margin: 0 auto;
	margin-bottom: 40px;
}

#content-login{
	margin-top: 6%;
}

#content-sign-up h4 {
	color: #c4c4c3;
	padding: 30px;
	text-align: center;
}

#content-sign-up .btn-sign-up {
	margin-top: 60px;
	width: 100%;
}

#content-sign-up input {
	margin-top: 10px;
}

#content-sign-up  .check-with-text {
	width: 100%;
	margin-top: 15px;
	text-align: center;
}
#bar-top {
	display: none;
}


.row{
	margin-left: 0px!important;
    margin-right: 0px !important;
    display: flex!important;
}

#login-form{
	margin: 0 auto;
}

#login-form .form-group{
	margin: 0;
}

#btn-login{
	background-color: #33cd5e;
	color: white;
}

#btn-login:hover{
	background-color: #0e7a2c;
}