
	
	<div class="row">
		<div class="main" id = "content-sign-up">



		<a href="javascript:void(0)" class="btn btn-primary">Primary</a>
		<a href="javascript:void(0)" class="btn btn-raised btn-primary">Primary</a>

		<h1 class="header">Dropdown</h1>

		<div class="sample">
		  <div class="form-group">
		    <label for="s1">Your favorite pastry</label>
		    <select id="s1" class="form-control">
		      <option value="Apple fritter">Apple fritter</option>
		      <option value="Croissant">Croissant</option>
		      <option value="Donut">Donut</option>
		      <option value="Financier">Financier</option>
		      <option value="Jello">Jello</option>
		      <option value="Madeleine">Madeleine</option>
		      <option value="Pound cake">Pound cake</option>
		      <option value="Pretzel">Pretzel</option>
		      <option value="Sfogliatelle">Sfogliatelle</option>
		    </select>
		  </div>
		  <br>

		  <div class="form-group">
		    <label for="s2">Your favorite pastry</label>
		    <select id="s2" class="form-control" disabled="">
		      <option value="disabled">Disabled</option>
		    </select>
		  </div>
		</div>
		<br>
			<div id="bar-top">
				<img src="/img/back1600.png" ui-sref="login"/>
				<div class="line-divider"></div>
			</div>
			<h4>Regístrate ahora y disfruta del mejor servicio de caarwash</h4>
			<form class="form" ng-submit="signUp.login(signUp.user)" style="padding:3%;">

				<div  class="content">
			        <div class="input-group input-full" style="text-align: center">
			        	<label class="login-facebook" ng-click="signUp.registerWithFacebook()"> <img src="/img/facebook-login.png" 
			        	style="width:20px;height: 20px">
			        	Regístrate con Facebook</label>
			        	<div style="height: 2px;background-color: #5b6f98;"></div>
					</div>

					<div class="input-group input-full">

						<input ng-model="signUp.user.username" type="text" class="form-control input-center" placeholder="Nombre">
						<input ng-model="signUp.user.username" type="text" class="form-control input-center" placeholder="Apellido">
						<input ng-model="signUp.user.username" type="text" class="form-control input-center" placeholder="Teléfono">
						<input ng-model="signUp.user.username" type="email" class="form-control input-center" placeholder="Correo">
						<dir>
							<label class="check-with-text">Quiero recibir notificaciones y permitir el registro de ubicaciones <input ng-model="signUp.user.agree" type="checkbox" class="input-center" placeholder="Correo"/></label>
							
						</dir>
					</div>
				</div>
				<div class="footer text-center footer-login">

					<button type="subtmit" class="btn-sign-up btn login btn btn-primary" >ENVIAR</button>
				</div>
			</form>
		</div>
	
	</div>




    <script>
      $('body').bootstrapMaterialDesign();
      $("select").dropdown({"optionClass": "withripple"});
    </script>