<div class="container" >
	<div class="main" id = "content-be-waasher">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-8">
								
				<div class="main" id = "content-be-waasher">
					<div id="bar-top">
					<img src="/img/back1600.png" ui-sref="login" class="step1" />
					<img src="/img/back1600.png" type="submit" class="step2" style="display:none;"/>
					<div class="line-divider"></div>
				</div>

				<h5 class="step1 title">Solicitud de Registro</h5> 	
				<h5 class="step2 title" style="display:none;">Completa los datos obligatorios y crea una contraseña para tu cuenta</h5> 

				<form id ="be-waasher-form" class="form" ng-submit="beWaasher.submit(beWaasher.user)">	
			<div class="step1 content">				   			
						<div class="input-group input-full" style="text-align: center">
							    	<label class="login-facebook" ng-click="logger.loginWithFacebook()"> <img src="/img/facebook-login.png" 
							    	style="width:20px;height: 20px">
							    	Inicia sesión con Facebook</label>			    	
						</div>
				    <div style="height: 2px;background-color: #5b6f98; margin-bottom: 1px;"></div>

					<div class="form-group">
						<label for="InputNombre" class="bmd-label-floating">Nombre</label>
						<input ng-model="beWaasher.user.firstName" type="text" class="form-control" id="firstName">
					</div>
					<div class="form-group">
						<label for="InputApellido" class="bmd-label-floating">Apellido</label>
						<input ng-model="beWaasher.user.lastName" type="text" class="form-control" id="lastName">
					</div>
					<div class="form-group">
						<label for="InputTelefono" class="bmd-label-floating">Telefono</label>
						<input ng-model="beWaasher.user.phone" type="text" class="form-control" id="phone">
					</div>			
					<div class="form-group">
						<label for="InputEmail1" class="bmd-label-floating">Correo</label>
						<input ng-model="beWaasher.user.email" type="email" class="form-control" id="email">
					</div>
					<div class="form-group">
						<label for="s1">Fecha de nacimiento</label>
						<input ng-model="beWaasher.user.date" type="date" class="form-control" id="date">
					</div>
				        
				            <div class="sample">
								<div class="form-group">
								    <label for="s1">Nacionalidad</label>
								    <select id="s1" class="form-control">
								      <option value="Chile">Chile</option>
								      <option value="Uruguay">Uruguay</option>
								      <option value="Venezuela">Venezuela</option>
								      <option value="Colombia">Colombia</option>				      
								    </select>
								</div>
							</div>
							<div class="sample">
								<div class="form-group">
								    <label for="s1">Comuna</label>
								    <select id="s1" class="form-control">
								      <option value="Chile">Comuna1</option>
								      <option value="Uruguay">Comuna2</option>
								      <option value="Venezuela">Comuna3</option>
								      <option value="Colombia">Comuna4</option>				      
								    </select>
								</div>
							</div>
				      
				    <div class="form-group">
						<div class="form-group has-success label-floating">
						    <label for="f1" class="control-label">Dirección</label>
						    <input type="text" class="form-control" id="f1">
						    <span class="help-block">Porfavor introduzca zona donde vive, calle, urbanización, casa o apartamento, región y comuna.</span>
					    </div>
				    </div>
		    </div>
            <div class="step2 content" style="display:none;">
                    <div class="form-group">
						<label for="InputRut" class="bmd-label-floating">RUT</label>
						<input ng-model="beWaasher.user.rut" type="text" class="form-control" id="rut">
					</div>
					<div class="form-group">
						<label for="InputPassword" class="bmd-label-floating">Contraseña</label>
						<input ng-model="beWaasher.user.password" type="text" class="form-control" id="contraseña">
					</div>
					<div class="form-group">
						<label for="InputConfirmPassword" class="bmd-label-floating">Confirma Contraseña</label>
						<input ng-model="beWaasher.user.cpassword" type="text" class="form-control" id="ConfirmaContraseña">
					</div>	
					 <div class="checkbox">
				          <label>
				          <input ng-model="beWaasher.user.agree" type="checkbox">Acepto los términos y condiciones</label>
				    </div>	
            </div>

					<button type="submit" class="btn btn-be-waasher btn-raised btn-primary">Continuar</button>
       
				</form>		
		    </div>
		</div>
    </div>
</div>