
  <!-- you can use the class main-raised if you want the main area to be as a page with shadows -->
<div class="container">
    <div class="row">


            
    <div class="main">

        <ul class="nav nav-tabs" style="margin-bottom: 15px;">
          <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
          <li style="float: right;"><button class="btn btn-white" ng-click="home.logout()">Logout</button></li>
          

        </ul>
              <!-- here you can add your content -->

        <label style="margin-left: 2%;">Bienvenido {{home.currentUser.profile.firstName + " " +  home.currentUser.profile.lastName}}</label>

        <h3 style="text-align: center;">Usuarios registrados en el sistema</h3>

        <div class="table-responsive">

            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th>Email</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>RUT</th>
                        <th>phone</th>
                        <th>Rol</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in home.users">
                        <td class="text-center">{{user._id}}</td>
                        <td>{{user.profile.email}}</td>
                        <td>{{user.profile.firstName}}</td>
                        <td>{{user.profile.lastName}}</td>
                        <td>{{user.profile.rut}}</td>
                        <td>{{user.profile.phone}}</td>
                        <td>{{user.profile.rol}}</td>
                        <td class="td-actions">
                            <button type="button" rel="tooltip" title="Eliminar" class="btn btn-danger btn-simple btn-xs" ng-click="home.deleteUser(user._id)">
                                <i class="fa fa-times"></i>
                            </button>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>

        <h3 style="text-align: center;">Tipos de Carros registrados</h3>

        <div class="table-responsive">

            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Rate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="carType in home.CarTypes">
                        <td class="text-center">{{carType._id}}</td>
                        <td>{{carType.name}}</td>
                        <td>{{carType.description}}</td>
                        <td>{{carType.rate}}</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>

        <h3 style="text-align: center;">Suministros registrados</h3>

        <div class="table-responsive">

            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Unidad Medida</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="supplie in home.Supplies">
                        <td class="text-center">{{supplie._id}}</td>
                        <td>{{supplie.name}}</td>
                        <td>{{supplie.description}}</td>
                        <td>{{supplie.unidadMedida}}</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>

        <h3 style="text-align: center;">Carros registrados</h3>

        <div class="table-responsive">

            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th>Color</th>
                        <th>Patante</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Foto</th>
                        <th>Tipo de Carro</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="car in home.Cars">
                        <td class="text-center">{{car._id}}</td>
                        <td>{{car.color}}</td>
                        <td>{{car.patante}}</td>
                        <td>{{car.brand}}</td>
                        <td>{{car.model}}</td>
                        <td>{{car.pic}}</td>
                        <td>{{car.CartypeId}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h3 style="text-align: center;">Ordenes registradas</h3>

        <div class="table-responsive">

            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th>Fecha de Creación</th>
                        <th>Fecha de Solicitud</th>
                        <th>Hora</th>
                        <th>Dirección</th>
                        <th>ID de cliente</th>
                        <th>ID de Washer</th>
                        <th>ID de Carro</th>
                        <th>Latitud</th>
                        <th>Longitud</th>
                        <th>Estatus</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in home.Orders">
                        <td class="text-center">{{order._id}}</td>
                        <td>{{order.createAt}}</td>
                        <td>{{order.requestDate}}</td>
                        <td>{{order.requestHour}}</td>
                        <td>{{order.address}}</td>
                        <td>{{order.clientID}}</td>
                        <td>{{order.washerID}}</td>
                        <td>{{order.carId}}</td>
                        <td>{{order.latitude}}</td>
                        <td>{{order.longitude}}</td>
                        <td>{{order.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
  </div>
