<!--<ion-view title="Login User">
  <ion-content class="padding">

  <form class="form-login" ng-submit="logger.login(logger.user)">
    <div class="group">
       <input ng-model="logger.user.username" class="input-login" />
      <span class="highlight"></span>
      <span class="barr"></span>
      <label class="label-login">Name</label>
    </div>
    <div class="group">
      <input ng-model="logger.user.password" class="input-login" />
      <span class="highlight"></span>
      <span class="barr"></span>
      <label class="label-login">Password</label>
    </div>
    <div class="padding">
      <button type="submit" class="button button-block buttonn buttonBlue">Login</button>
      <button class="button button-block buttonn buttonBlue" ng-click="logger.signup()">Create Account</button>
    </div>
  </form>

 </ion-content>

</ion-view> -->




<!--<ion-view view-title="Login" align-title="left">
    <ion-content>
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Thronester</h1>
            </div>
        </div>
        <div class="list">
          <ion-label floating>Username</ion-label>
            <ion-md-input placeholder="Username" highlight-color="balanced" type="text"></ion-md-input>
             <ion-label floating>Password</ion-label>
            <ion-md-input placeholder="Password" highlight-color="energized" type="password"></ion-md-input>
        </div>
        <div class="padding">
            <button ui-sref="app.profile" class="button button-full button-assertive ink">Login</button>
        </div>
        <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
        </div>
    </ion-content>
</ion-view>-->

<!--<ion-view title="Login User">
  <ion-content class="padding">
    <form ng-submit="logger.login(logger.user)">
      <ion-list>
        <ion-item>
          <ion-label floating>Username</ion-label>
          <ion-input ng-model="logger.user.username" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input ng-model="logger.user.password" type="password" ></ion-input>
        </ion-item>
      </ion-list>
      <div class="padding">
        <button type="submit" class="button button-block">Login</button>
        <button class="button button-block" ng-click="logger.signup()">Create Account</button>
      </div>
    </form>
  </ion-content>
</ion-view> -->