<div class="container">
	
	<div class="row">
		<div class="main" id = "content-sign-up">
	
				<div class="content" style="text-align: center;margin-top: 20px;">
						<img src="/img/check.png" style="width: 30%;"/>

				</div>
				<h4 class="title">Te has registrado exitosamente</h4>
				<div class="footer text-center footer-login">

					<button type="submit" class="btn-sign-up btn login btn btn-primary"  ng-click="signUp.goToLogin()" >INGRESAR</button>
				</div>
			
		</div>
	
	</div>
</div>


	


