<div class="container">
	
	<div class="row">
		<div class="main" id = "content-sign-up">
			<div id="bar-top">
				<img src="/img/back1600.png" ui-sref="login"/>
				<div class="line-divider"></div>
			</div>
			{{signUp.user}}
			<h4 class="step1 title">Regístrate ahora y disfruta del mejor servicio de caarwash</h4>
			<h4 class="step2 title" style="display:none;">Crea una contraseña para tu cuenta</h4>
			<form class="form" ng-submit="signUp.submit(signUp.user)" style="padding:3%;">

				<div class="step1 content">
			        <div class="input-group input-full" style="text-align: center">
			        	<label class="login-facebook" ng-click="signUp.registerWithFacebook()"> <img src="/img/facebook-login.png" 
			        	style="width:20px;height: 20px">
			        	Regístrate con Facebook</label>
			        	<div style="height: 2px;background-color: #5b6f98;"></div>
					</div>


    
					<div class="input-group input-full">

						<input ng-model="signUp.user.firstName" type="text" class="form-control input-center" placeholder="Nombre">
						<input ng-model="signUp.user.lastName" type="text" class="form-control input-center" placeholder="Apellido">
						<input ng-model="signUp.user.phone" type="text" class="form-control input-center" placeholder="Teléfono">
						<input ng-model="signUp.user.username" type="email" class="form-control input-center" placeholder="Correo">
					</div>
				</div>

				<div class="step2 content" style="display:none;">
			    	<div class="input-group input-full">

						<input ng-model="signUp.user.rut" type="text" class="form-control input-center" placeholder="RUT">
						<input ng-model="signUp.user.password" type="text" class="form-control input-center" placeholder="Contraseña">
						<input ng-model="signUp.user.confirm_password" type="text" class="form-control input-center" placeholder="Confirmar Contraseña">
						<div>
							<label class="check-with-text">Quiero recibir notificaciones y permitir el registro de ubicaciones 
							<input ng-model="signUp.user.agree" type="checkbox" class="input-center"/></label>
							
						</div>
					</div>
				</div>
				<div class="footer text-center footer-login">

					<button type="subtmit" class="btn-sign-up btn login btn btn-primary" >ENVIAR</button>
				</div>
			</form>
		</div>
	
	</div>
</div>


	


